



#circle {
  position: relative;
  stroke-dasharray: 1258;
  width: 600px;
  z-index: -1;
  height: 420px;
}

#circle1 {
  position: absolute;
  left: 0;
  z-index: -2;
  width: 600px;
  height: 420px;
}
